#navbar{
    opacity : 0.95;
}

.onPointer:hover{
    cursor : pointer;
}





/* home */
.row-promo{
    margin-top: 200px;
}
.promo{
    padding : 50px;
}
.promo-caption{
    color: rgba(0,0,0,0.71);
    font-weight: 500;
    font-size: 1.9rem;
}
.promo-text{
    color: rgba(0,0,0,0.71);
    font-weight: 300;
    font-size : 1.3rem;
}
.promo i{
    color : #0277bd ;
}

/* actu */
.actu{
    padding : 10px;
}

.actu-title{
    padding-top:10px;
}
.img-profil{
    max-width : 80px;
}
